
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #4daf54, #3d8880);
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.search_box{
    width: 70px;
    height: 70px;
    background-color: #333;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease;
}

.search_input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 35px;
    padding: 20px 100px 20px 35px;
    position: absolute;
}

.search_btn{
    width: 70px;
    height: 70px;
    background-color: #fff;
    color: #000;
    position: absolute;
    right: 0;
    font-size: 30px;
    border: none;
    outline: none;
}

.open
{
    width: 420px;
}
